h1 {
  font-family: "Unica one";
  top: 150px;
  left: 100px;
  max-width: 450px;
  z-index: 1;
  color: white;
  font-size: 5rem;
  line-height: 1.5;
  opacity: 0;
  animation: appear 1s linear forwards;
}

@keyframes appear {
  to {
    opacity: 1;
  }
}

#rainbow-violet {
  stroke-dasharray: 1918;
  stroke-dashoffset: 1918;
}

#rainbow-violet {
  animation: rainbow-offset 1s linear forwards;
}

#rainbow-indigo {
  stroke-dasharray: 1813;
  stroke-dashoffset: 1813;
}

#rainbow-indigo {
  animation: rainbow-offset 1s linear forwards;
}

#rainbow-blue {
  stroke-dasharray: 1705;
  stroke-dashoffset: 1705;
}

#rainbow-blue {
  animation: rainbow-offset 1s linear forwards;
}

#rainbow-green {
  stroke-dasharray: 1596;
  stroke-dashoffset: 1596;
}

#rainbow-green {
  animation: rainbow-offset 1s linear forwards;
}

#rainbow-yellow {
  stroke-dasharray: 1483;
  stroke-dashoffset: 1483;
}

#rainbow-yellow {
  animation: rainbow-offset 1s linear forwards;
}

#rainbow-orange {
  stroke-dasharray: 1366;
  stroke-dashoffset: 1366;
}

#rainbow-orange {
  animation: rainbow-offset 1s linear forwards;
}

#rainbow-red {
  stroke-dasharray: 1243;
  stroke-dashoffset: 1243;
}

#rainbow-red {
  animation: rainbow-offset 1s linear forwards;
}

@keyframes rainbow-offset {
  to {
    stroke-dashoffset: 0;
  }
}

#narwhal-body {
  stroke-dasharray: 1981;
  stroke-dashoffset: 1981;
}

#narwhal-body {
  animation: narwhal-animation 1s linear forwards;
}

@keyframes narwhal-animation {
  to {
    stroke-dashoffset: 0;
  }
}

#narwhal-eye {
  opacity: 0;
}

#narwhal-eye {
  animation: appear 1s linear forwards;
}
